:host {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1px;
  min-width: 1px;

  mat-spinner {
    $size: 80%;
    max-width: $size;
    max-height: $size;
  }

  app-img-loader {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
  }

}
